/*
=================
  Global Styles
=================
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
img{

	max-width: 100%;
	height: auto;
	display: block;
}
h1, p{
	color: #fff;
}
/*
=================
     Banner
=================
*/
#header{
	height: 60vh;
	background: url('../images/event.jpg')no-repeat center/cover;
	padding: 25px;
}

.header-container h1{
	font-size: 35px;
	text-align: center;
	padding: 7px;
	background: rgba(2,3,129, 0.8);
	margin-top: 20px;

}
.header-container p{
	font-size: 20px;
	text-align: center;
	margin-top: 40px;
	background: rgba(153,33,5,0.8);
	padding: 7px;
}

.image{
	width: 400px;
	height: 400px;
	object-fit: cover;
}
/*
=================
  ShowCase
=================
*/
.show-case{
	background: rgb(20,16,94);
	
}
.show-case h2{
	padding: 30px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	margin-bottom: 10px;
}
.show-case-para h3, .show-case-para p{
	padding: 10px;
}
.show-case-para h3{
	color: rgba(27, 163, 156, 1);
	
	font-size: 25px;
	text-align: center;
}
.show-case-para p{
	
	
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
}
.text{
	color: white;
	
	padding: 20px;
	font-size: 33px;
	text-align: center;
}
.reg, .regb{
	background: rgba(153,33,5,0.8)
}
.tick, .tickb{
	background: rgb(0, 128, 128);
}
.attend, .attendb{
	background: rgb(184,134,11);
}
.postAna, .postAnab{
	background: rgb(238,130,238);
}
.para{
	font-size: 25px;
	padding: 20px;
	text-align: center;
}
/*
=================
  Cards
=================
*/
.cards-events{
	background: #000;
	padding: 30px;
	
}
.cards-events h3{
	color: #fff;
	text-align: center;
	padding: 25px;
	font-size: 30px;

}
.cards-events h2{
	color: #fff;
	text-align: center;
	padding: 25px;
	font-size: 25px;

}
.card-registration, .card-ticketing, .card-attendee, .card-post{
	margin-bottom: 20px;
}
.card-registration{
	background: linear-gradient(204deg, rgba(70,11,31,1) 1%, rgba(18,12,60,1) 40%, rgba(77,14,77,1) 90%);
	padding: 20px;
	border-radius: 20px;
}
.card-registration p{
	font-size: 18px;
}
.card-ticketing{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 20px;
    border-radius: 20px; 
}
.card-ticketing p{
	font-size: 18px;
}
.card-attendee{
	background: linear-gradient(42deg, rgba(176,201,248,1) 0%, rgba(246,174,209,1) 50%, rgba(248,209,215,1) 100%);
	padding: 20px;
    border-radius: 20px;

}
.card-attendee h2{
    color: #000;
}
.card-attendee p{
	font-size: 18px;
	 color: #000;
}
.card-post{
	 background: #3bade3;
	 background: linear-gradient(109.6deg, rgb(6, 183, 249) 11.2%, rgb(25, 74, 236) 91.1%);
	 padding: 20px;
    border-radius: 20px;
}

.card-post p{
	font-size: 18px;
}
/*
=================
  Pricing
=================
*/
.pricing{
	padding: 30px;
}
.pricing-content, .contact{
	text-align: center;
}
.pricing-content h2{
	font-size: 26px;
	padding: 10px;
}
.pricing-content p{
	color: #000;
	font-size: 18px;
}
.btn{
	display: block;
	margin: 20px;
	padding: 20px;
	background: #f0483e;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 900;
}
/*
=================
  Grow
=================
*/
.grow{
	padding: 30px;
	background: #000;
}
.grow h2{
	font-size: 26px;
	padding: 10px;
	text-align: center;
	color: #fff;
}
li{
	color: #fff;
}
.unstyle{list-style: none;}
.unstyle li{position: relative; padding-left: 30px; margin-bottom: 15px;}
.primary li:before{
	 color: rgb(0,204,0);
	 position: absolute;
	 content: "\2713";
	 left: 0;
	 font-size: 20px;
	 top: -.3rem;
	font-weight: 900;
}
/*
=================
  Media Queries
=================
*/
@media screen and (min-width: 640px){
	#header{
		height: 100vh;
		display: flex;
		justify-content: start;
		align-items: center;
	}
	.header-container{
		max-width: 1170px;
		margin: 0 auto;
	}
	
	.header-container h1{
		font-size: 50px;
		background: rgba(2,3,129, 1);
		padding: 20px;
		width: 50%;
	}
	.header-container p{
		font-size: 30px;
		background: rgba(153,33,5,1);
		padding: 20px;
		width: 50%;
	}
	.show-case-container{
		width: 80vw;
		margin: 0 auto;
	}
	.show-case-para p{
		width: 50%;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.image{
		width: 800px;
		height: 600px;
		object-fit: cover;
   }
   .para{
   		width: 100%;
   }
   .cards-container{
   		display: flex;
   		flex-wrap: wrap;
   		justify-content: space-between;
   		text-align: center;

   }
   .cards-events h3{
   		padding: 50px;
   }
   .card{
   		flex: 0 0 calc(50% - 1rem);
   }
   .pricing{
   		padding: 50px;
   }
   .btn{
   		display: inline-block;
   }
   ul li{
   		width: 50%;
   		margin: 0 auto;
   }
}
@media screen and (min-width: 992px){
	.show-case-container{
		width: 90vw;
		margin: auto 0;
	}
	.main-container{

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 50px;
	}
	.show-case-container h2{
		font-size: 40px;
		padding: 50px;
		
	}
	.show-case-para h3{
		font-size: 50px;
		padding: 60px;
	}
	.cards-container{
		width: 80vw;
		margin: 0 auto;
	}
	.card{
   		flex: 0 0 calc(25% - 1rem);
   }
   .cards-events h3{
   		font-size: 40px;
   }
	.pricing{
		width: 80vw;
		margin: 0 auto ;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.pricing-content{
		width: 50%;
		margin: auto 0;
	}
	.pricing-content h2{
		font-size: 35px;
	}
	.pricing-content p{
		font-size: 18px;
	}
	ul li{
		margin-left: 750px;

	}
	
}

