/*
=================
  Global Styles
=================
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
img{

	max-width: 100%;
	height: auto;
	display: block;
}
h1, p{
	color: #fff;
}
/*
=================
     Banner
=================
*/
#header{
	height: 60vh;
	background: url('../images/event.jpg')no-repeat center/cover;
	padding: 25px;
}

.header-container h1{
	font-size: 35px;
	text-align: center;
	padding: 7px;
	background: rgba(2,3,129, 0.8);
	margin-top: 20px;

}
.header-container p{
	font-size: 20px;
	text-align: center;
	margin-top: 40px;
	background: rgba(153,33,5,0.8);
	padding: 7px;
}

.image{
	width: 400px;
	height: 400px;
	object-fit: cover;
}
/*
=================
  ShowCase
=================
*/
.show-case{
	background: rgb(20,16,94);
	
}
.show-case h2{
	padding: 30px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	margin-bottom: 10px;
}
.show-case-para h3, .show-case-para p{
	padding: 10px;
}
.show-case-para h3{
	color: rgba(27, 163, 156, 1);
	
	font-size: 25px;
	text-align: center;
}
.show-case-para p{
	
	
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
}
.text{
	color: white;
	
	padding: 20px;
	font-size: 33px;
	text-align: center;
}
.reg, .regb{
	background: rgba(153,33,5,0.8)
}
.tick, .tickb{
	background: rgb(0, 128, 128);
}
.attend, .attendb{
	background: rgb(184,134,11);
}
.postAna, .postAnab{
	background: rgb(238,130,238);
}
.para{
	font-size: 25px;
	padding: 20px;
	text-align: center;
}
/*
=================
  Media Queries
=================
*/
@media screen and (min-width: 640px){
	#header{
		height: 100vh;
		display: flex;
		justify-content: start;
		align-items: center;
	}
	.header-container{
		max-width: 1170px;
		margin: 0 auto;
	}
	h1, p{
		width: 50%;
	}
	.header-container h1{
		font-size: 50px;
		background: rgba(2,3,129, 1);
		padding: 20px;
	}
	.header-container p{
		font-size: 30px;
		background: rgba(153,33,5,1);
		padding: 20px;
	}
	.show-case-container{
		width: 80vw;
		margin: 0 auto;
	}
	.show-case-para p{
		width: 50%;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.image{
		width: 800px;
		height: 600px;
		object-fit: cover;
   }
   .para{
   		width: 100%;
   }
}
@media screen and (min-width: 992px){
	.show-case-container{
		width: 90vw;
		margin: auto 0;
	}
	.main-container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.show-case-container h2{
		font-size: 40px;
		padding: 50px;
		
	}
	.show-case-para h3{
		font-size: 50px;
		padding: 60px;
	}
	
}

